<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="pattern">
            "%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}]
            %style{%C{1.}}{bright,yellow}: %msg%n%throwable"
        </Property>
    </Properties>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <EcsLayout serviceName="redemption" serviceNodeName="redemption-cluster-node"/>
            <PatternLayout pattern="${pattern}"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <EcsLayout serviceName="redemption" serviceNodeName="redemption-cluster-node"/>
            <PatternLayout pattern="${pattern}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="stderr"/>
        </Root>
        <logger name="org.hibernate" level="OFF" additivity="false"/>
    </Loggers>
</Configuration>
